# Cache
__pycache__
.ipynb_checkpoints/
wandb/
*.swp
.mypy_cache
artifacts/

# Script (Interface)
tools/quick*

# Dev
notebooks/

# Legacy code
legacy/

# Local cfg

# Data
data/raw/*
data/processed/*
data/trafos/*
data/download/*

# Local output buffer
output/

# Submission
submission.csv
submissions/

# Local misc
notes.txt
token.txt

# References
refs/*
